@use 'variables' as v;
@use 'mixins' as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
}

h1, h2, h3, h4{
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  color: v.$azul;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

button, .button {
  width: auto;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 1rem;
  background-color: v.$negroClaro;
  color: v.$blanco;
  cursor: pointer;
  text-align: center;

  &.editar {
    background-color: #f57f17;
  }

  &.eliminar {
    background-color: #ff3d00;
  }

  @include m.tablet {
    width: auto;
  }

   &:hover {
    background-color: v.$gris;
    color: v.$blancoOpaco;
   }

}

.width-50 {
  @include m.tablet {
    .button {
      width: 20%;
    }
  }
}


img {
  max-width: 100%;
  max-height: 30rem;
  border-radius: 1rem;
  margin: 0 auto;
}


.button-round {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: v.$negroClaro;
  color: v.$blanco;
  cursor: pointer;
  text-align: center;
  margin: 0 1rem;
  @include m.flex-column;
  justify-content: center;

   &:hover {
    background-color: v.$gris;
    color: v.$blancoOpaco;
   }
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: .3rem;
    width: 2rem;
    height: 2rem;
  }
}

.contenedor {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}


.hMovilTablas {
  display: none;
  @include m.tablet {
    display: table-cell; 
  }
}


.hTabletTablas {
  display: table-cell;
  @include m.tablet {
    display: none; 
  }
}

.hMovil {
  display: none;
  @include m.tablet {
    display: inline; 
  }
}

.hTablet {
  @include m.tablet {
    display: none;
  }
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


.text-center {
  text-align: center;
}

.acciones {
  @include m.flex-column {
    .button {
      width: 10rem;
      margin: .5rem 0;
    } 
  }
}

.tbody-margin tr td {
  padding: 1.5rem 0;
}


//Ventanas modales
#modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modal-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}