@use 'base/variables' as v;
@use 'base/mixins' as m;


.login {
    @include m.flex-column;
}

.formulario {
  width: 100%;
  @include m.tablet {
    width: 80%;
    margin: 0 auto;
  }

  @include m.deskop {
    width: 50%;
    margin: 0 auto;
  }
  input, select, textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px v.$gris;
    margin: 1rem 0;
    
  }

  button {
    padding: .75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

}